/**
 * Blazer Six Gist oEmbed Styles
 *
 * Optional styles for including in a local stylesheet (based on
 * the GitHub stylesheet). Be sure to hook into the
 * "blazersix_gist_shortcode_defaults" filter to set the
 * "embed_stylesheet" argument to false.
-------------------------------------------------------------- */
.gist { overflow: hidden; width: 100%; max-width: 100%; color: #000; font-size: 14px; line-height: 18px;}
.gist div { margin: 0; padding: 0;}
.gist .gist-file { margin-bottom: 1em; font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace; border: 1px solid #dedede;}
.gist .gist-file .gist-data { overflow: auto; word-wrap: normal; width: 100%; max-width: 100%; font-size: 100%; background-color: #f8f8ff;}
.gist .gist-file .gist-data .highlight { background: transparent;}
.gist .gist-file .gist-data pre { overflow: auto; margin: 0; padding: .25em 0 .5em 0; font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace; font-size: 14px; line-height: 21px;
	white-space: pre;
	word-wrap: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;}
.gist .gist-file .gist-data pre .line { padding: 0 10px;}
.gist .gist-file .gist-data pre .line:even { background: #f3f3f3;}
.gist .gist-file .gist-meta { overflow: hidden; padding: .5em; color: #666; font-size: 85%; background-color: #eaeaea; border-top: 1px solid #ddd;}
.gist .gist-file .gist-meta a { color: #369;}
.gist .gist-file .gist-meta a:visited { color: #737;}

/* Line numbers support: https://gist.github.com/1243028 */
.gist .show-line-numbers { position: relative; border-left: 5ex solid #eee;}
.gist .show-line-numbers pre { counter-reset: linenumbers;}
.gist .show-line-numbers pre div:before { content: counter(linenumbers); counter-increment: linenumbers; position: absolute; left: -4.5ex; width: 4ex; color: #aaa; text-align: right;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;}